
body {
  font-family: var(--font-raleway), sans-serif;
  background-color: rgb(20, 20, 20);
  display: flex; /* Делаем body flex-контейнером */
  justify-content: center; /* Центрирует дочерние элементы по горизонтали */
  align-items: center; /* Центрирует дочерние элементы по вертикали */
  min-height: 100vh; /* Убеждаемся, что body занимает всю высоту viewport'а */
}
html, body {
  height: 100%; /* Очень важно! body должен занимать всю высоту окна */
  margin: 0;
  padding: 0;
}