body {
  font-family: var(--font-raleway), sans-serif;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  background-color: rgb(20, 20, 20);
  
  display: flex;
  flex-direction: column; 
  
  min-height: 100vh; 
  
  
  padding-top: 20px; 
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0; 
}