.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0px;
  border-radius: 16px;
  width: 100%;
  margin: 0 auto;
}

.form input {
  padding: 16px 16px;
  border: 0px solid #ddd;
  border-radius: 16px;
  font-family: var(--font-raleway), sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #969696;
  transition: all 0.3s ease;
  background-color: rgb(31, 31, 31);
  outline: none;
}

.form input:focus {
  background-color: rgb(14, 14, 14);
}

.buttonn {
  padding: 16px;
   background-color: #6f00ff;
  color: white;
  font-family: var(--font-raleway), sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
              
  margin-top: 16px;
}

.buttonn:hover {
   background-color: #a35cff;
}

