.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 50vw;
  max-width: 700px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.input[type="text"] {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.textarea {
  flex-grow: 1;
  resize: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: rgb(255, 0, 0);
  color: white;
  transition: opacity 0.2s ease;
}

.button:hover {
  opacity: 0.9;
}

.button.delete {
  background: #e74c3c;
}
